<div class="jumbotron text-center">
  <h1>Askquo</h1>
  <p>Created by: Dewanshu Chhatlani</p> 
</div>

  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <p>Asquo is a simple application which lets you ask questions and also lets you post answers to specific questions. A user can also edit or delete a question which he posted. Also there is an option to upvote/downvote a particular answer.</p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>