<h2 style='padding-left:60px;'>Answer a question:</h2>
<br>
<div style='padding-left:60px; padding-right:60px'>
    <table class="table" style='padding-left:60px;'>
      <thead class="thead-dark">
        <tr>
            <th>Question:</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
            <tr>
                <td><%= question.question %></td>
                <td><%= link_to 'View Answers', question_answers_path(question) %></td>
                <td><%= link_to 'Answer this question', new_question_answer_path(question) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>